---
import { SITE } from "src/config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header />

  <Main pageTitle="Knitting Folio" pageDesc="A collection of tools for knitters!">
    <div>
      <img src="/assets/KnittingFolio.png" class="sm:w-1/2 mx-auto rounded-xl" alt="Knitting Folio application icon">
    </div>
  </Main>

  <Footer />
</Layout>
