.about {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  width: 100%;
  padding-bottom: 3rem;
  padding-top: 3rem;
}

.headshot {
  height: 18rem;
  width: 18rem;
  border-radius: 50%;
  margin: 1rem;
}

#about-title {
  margin: 3rem;
}

.about-text-container {
  text-align: center;
  margin: 1rem;
  margin-left: 3rem;
  margin-right: 3rem;
  width: 400px;
  text-align: justify;
}

.about-p-title {
  text-align: center;
  margin: 1rem;
}

.about-paragraph {
  margin: 1rem;
}
