.contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.contact-link-icons {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.contact-link-icons > * {
  margin: 1rem;
}

.contact-information {
  text-align: center;
}

.contact-information > * {
  margin: 1rem;
}

.contact-information > h2 > b {
  color: #ca3433;
}
