.frontpage {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.frontpage-title {
  font-size: 3rem;
}

.frontpage-title > strong {
  color: #ca3433;
}

.frontpage-undertitle {
  font-size: 2rem;
  margin: 2rem;
  margin-bottom: 4rem;
}

.frontpage-undertitle > strong {
  color: #ca3433;
}
