.projectcard {
  margin: 1rem 0;
  background: var(--color-primary-2);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

.projectcard__image {
  height: 125px;
  width: 100%;
  max-width: 370;
  object-fit: cover;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
}

.projectcard__content {
  padding: 0.5rem;
}

.content__title {
  font-size: 1rem;
  line-height: 1.75rem;
  font-weight: bold;
}

.content__details {
  font-size: 0.75rem;
  line-height: 1.25rem;
}

.content__links {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  padding: 0.5rem 0;
}

.content__links--center {
  justify-content: center;
}

.links__logo {
  height: 2rem;
  width: 2rem;
}

@media screen and (min-width: 1024px) {
  .projectcard {
    padding: 0;
    margin-bottom: 0;
  }
}