---
import { SITE } from "src/config";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import Layout from "@layouts/Layout.astro";
import Main from "@layouts/Main.astro";
---

<Layout title={`Tags | ${SITE.title}`}>
  <Header />

  <Main pageTitle="Contact" pageDesc="Contact options">
    <ul>
      <li class="inline-block my-3 mx-1 underline-offset-8">
        <a href="mailto: nikolaj.app.dev@gmail.com" class="pr-2 text-lg">nikolaj.app.dev@gmail.com</a>
      </li>
    </ul>
  </Main>

  <Footer />
</Layout>


<style>
  a {
    @apply underline decoration-dashed hover:text-skin-accent relative hover:-top-0.5 focus-visible:p-1;
  }
  a svg {
    @apply w-6 h-6 text-skin-base scale-95 opacity-80 -mr-5 group-hover:fill-skin-accent;
  }
</style>
