@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Bold.ttf');
  font-weight: bold;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-BoldItalic.ttf');
  font-weight: bold, italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-ExtraBold.ttf');
  font-weight: bolder;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-ExtraBoldItalic.ttf');
  font-weight: bolder, italic;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Italic.ttf');
  font-style: italic, oblique;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-Light.ttf');
  font-style: 100;
}
@font-face {
  font-family: 'OpenSans';
  src: url('./fonts/OpenSans-SemiBold.ttf');
  font-weight: 600;
}

:root {
  --color: #243746;
  --color-secondary: #0e2233;
  --bg-color: #f3f5f4;
  --bg-secondary: #fff;

  --button-color: #a02f2f;
  --border-color: #ddd;

  --card-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

  --cv-bg: #f3f5f4;
  --cv-color: #0e2233;
  --cv-header: #a02f2f;
  --cv-header-color: #f3f5f4;
  --border-radius: 4px;
}

.dark-mode {
  --color: #ebf4f1;
  --color-secondary: #fdf9f3;
  --bg-color: #091a28;
  --bg-secondary: #071521;
  --border-color: #0d2538;

  --card-shadow: 0 -2px 10px rgba(0, 0, 0, 1);
}

html {
  font-family: 'OpenSans';
  font-size: 16px;
  word-spacing: 1px;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  min-height: 100vh;
  min-width: 100vw;
  background: var(--bg-color);
  color: var(--color);

  transition: all 0.2s ease;
}

a {
  text-decoration: none;
  color: var(--color);
}

a:hover {
  color: var(--color-secondary);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  margin: 0;
}

.full-width {
  width: 100%;
}

.btn {
  padding: 0.75rem 2rem;
  border-radius: var(--border-radius);
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border: 1px solid var(--button-color);
  text-decoration: none;
  color: var(--color);
  background-color: transparent;
}

.btn:hover {
  background: var(--button-color);
  color: var(--color);
}

.btn--selected {
  background: var(--button-color);
  color: white;
}
