.navbar {
  background: var(--color-primary-2);
  width: 100vw;
  box-shadow: var(--box-shadow);
  position: sticky;
  top: 0;
  z-index: 50;
  padding: 1rem;
}

.navbar__container {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.navbar__title {
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: bold;
}

.navbar__links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar__links > * {
  display: block;
  margin-left: 1rem;
}

@media screen and (min-width: 768px) {
  .navbar-container {
    width: 80%;
  }
}