.heading {
  display: flex;
  align-items: center;
  margin-bottom: 0.75rem;
}

.heading__title {
  padding-right: 1rem;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.75rem;
  letter-spacing: 0.05em;
}

.heading__border {
  flex: 1;
  border: 1px solid gray;
}
